---
import {LINKS} from '../_globals.js';
import MainLogo from '../assets/logo-ceo.svg';
import IcoFB from '../svg/IcoFb.astro';
import IcoIG from '../svg/IcoIg.astro';
import IcoLI from '../svg/IcoIn.astro';
import IcoWA from '../svg/IcoWa.astro';
const MAIN_MENU = [
	{
		label: 'Inicio',
		url: '/#inicio'
	},
	{
		label: 'El Especialista',
		url: '/#doctor'
	},
	{
		label: 'Cirugías',
		url: '/#cirugias'
	},
	{
		label: 'Preguntas',
		url: '/#faqs'
	},
	{
		label: 'Contacto',
		url: '/#contacto'
	},
];
let {showResponsiveLogo} = Astro.props;
if (showResponsiveLogo === undefined) showResponsiveLogo = true;
---
<button id="menu_btn" class="md:hidden text-2xl fixed top-2 right-2 bg-sky w-10 aspect-square z-50">
	<span>☰</span>
	<span class="hidden">×</span>
</button>
<header class="md:border-b md:border-blue">
	{
		showResponsiveLogo && <div class="md:hidden">
			<a href="/">
				<img src={MainLogo.src} alt="CEO - Centro de Especialidades Oftalmológicas Dr. Nelson Bravo" class="w-1/2 mx-auto" />
			</a>
		</div>
	}
	<div class="container mx-auto">
		<div id="menu_div" class="fixed z-40 md:static top-0 -right-full w-full h-dvh md:h-auto backdrop-blur-sm md:backdrop-blur-none bg-opacity-75 md:bg-opacity-0 bg-sky md:bg-transparent md:flex gap-4 items-center transition-all duration-300 ease-in-out p-4 md:p-0">
			<div>
				<a href="/" class="block">
					<img src={MainLogo.src} alt="CEO - Centro de Especialidades Oftalmológicas Dr. Nelson Bravo" class="w-1/2 md:w-[135px]" />
				</a>
			</div>
			<nav class="font-bold md:flex-1 my-8 md:my-0">
				<ul>
					{
						MAIN_MENU.map( item => <li class="md:inline-block">
							<a href={item.url} class="block p-2 hover:bg-blue hover:text-sky uppercase">
								{item.label}
							</a>
						</li>)
					}
				</ul>
			</nav>
			<nav class="flex md:block justify-center">
				<ul>
					<li class="inline-block w-8">
						<a href={LINKS.WhatsApp} target="_blank" rel="noopener" aria-label="WhatsApp">
							<IcoWA />
						</a>
					</li>
					<li class="inline-block w-8">
						<a href={LINKS.Instagram} target="_blank" rel="noopener" aria-label="Instagram">
							<IcoIG />
						</a>
					</li>
					<li class="inline-block w-8">
						<a href={LINKS.Facebook} target="_blank" rel="noopener" aria-label="Facebook">
							<IcoFB />
						</a>
					</li>
					<li class="inline-block w-8">
						<a href={LINKS.LinkedIn} target="_blank" rel="noopener" aria-label="LinkedIn">
							<IcoLI />
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<script defer>
const toggleMenu = (e) => {
	if (e.target.matches('a')) {
		document.getElementById('menu_div').classList.remove('right-0');
		document.querySelector('#menu_btn span:nth-child(1)').classList.remove('hidden');
		document.querySelector('#menu_btn span:nth-child(2)').classList.add('hidden');
	} else {
		e.preventDefault();
		document.getElementById('menu_div').classList.toggle('right-0');
		document.querySelector('#menu_btn span:nth-child(1)').classList.toggle('hidden');
		document.querySelector('#menu_btn span:nth-child(2)').classList.toggle('hidden');
	}
}
document.getElementById('menu_btn').addEventListener('click',toggleMenu ,!1);
document.querySelectorAll('#menu_div a').forEach( item => item.addEventListener('click',toggleMenu ,!1));
</script>