---
import '@fontsource-variable/montserrat';
import '../styles/global.css';
import Header from '../interface/Header.astro';
import Footer from '../interface/Footer.astro';
let {desc='', title, image, showResponsiveLogo} = Astro.props;
if (showResponsiveLogo === undefined) showResponsiveLogo = true;
if (image === undefined) image = '/og-ceo.webp';
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{ desc === '' ? '' : <meta name="description" content={desc} /> }
		<meta property="og:title" content={title} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class='font-body bg-bodybg text-black' id="inicio">
		<Header showResponsiveLogo={showResponsiveLogo} />
		<slot />
		<Footer />
	</body>
</html>
